<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="mst_links_ac" EntityName="MstLinksAc" Owner="dbo" PropertyName="MstLinksAc" FieldName="_mstLinksAc" FriendlyName="Mst Links Ac" IncludeInOutput="true">
		<Column Id="MAPINFO_ID" CSType="System.Int32" PropertyName="MapinfoId" FieldName="_mapinfoId" FriendlyName="Mapinfo Id" IncludeInOutput="true" />
		<Column Id="MLinkID" CSType="System.Int32?" PropertyName="MlinkId" FieldName="_mlinkId" FriendlyName="Mlink Id" IncludeInOutput="true" />
		<Column Id="CompKey" CSType="System.Int32?" PropertyName="CompKey" FieldName="_compKey" FriendlyName="Comp Key" IncludeInOutput="true" />
		<Column Id="USNode" CSType="System.String" PropertyName="UsNode" FieldName="_usNode" FriendlyName="Us Node" IncludeInOutput="true" />
		<Column Id="DSNode" CSType="System.String" PropertyName="DsNode" FieldName="_dsNode" FriendlyName="Ds Node" IncludeInOutput="true" />
		<Column Id="PipeShape" CSType="System.String" PropertyName="PipeShape" FieldName="_pipeShape" FriendlyName="Pipe Shape" IncludeInOutput="true" />
		<Column Id="LinkType" CSType="System.String" PropertyName="LinkType" FieldName="_linkType" FriendlyName="Link Type" IncludeInOutput="true" />
		<Column Id="PipeFlowType" CSType="System.String" PropertyName="PipeFlowType" FieldName="_pipeFlowType" FriendlyName="Pipe Flow Type" IncludeInOutput="true" />
		<Column Id="Length" CSType="System.Double?" PropertyName="Length" FieldName="_length" FriendlyName="Length" IncludeInOutput="true" />
		<Column Id="DiamWidth" CSType="System.Double?" PropertyName="DiamWidth" FieldName="_diamWidth" FriendlyName="Diam Width" IncludeInOutput="true" />
		<Column Id="Height" CSType="System.Double?" PropertyName="Height" FieldName="_height" FriendlyName="Height" IncludeInOutput="true" />
		<Column Id="Material" CSType="System.String" PropertyName="Material" FieldName="_material" FriendlyName="Material" IncludeInOutput="true" />
		<Column Id="upsdpth" CSType="System.Double?" PropertyName="Upsdpth" FieldName="_upsdpth" FriendlyName="Upsdpth" IncludeInOutput="true" />
		<Column Id="dwndpth" CSType="System.Double?" PropertyName="Dwndpth" FieldName="_dwndpth" FriendlyName="Dwndpth" IncludeInOutput="true" />
		<Column Id="USIE" CSType="System.Double?" PropertyName="Usie" FieldName="_usie" FriendlyName="Usie" IncludeInOutput="true" />
		<Column Id="DSIE" CSType="System.Double?" PropertyName="Dsie" FieldName="_dsie" FriendlyName="Dsie" IncludeInOutput="true" />
		<Column Id="AsBuilt" CSType="System.String" PropertyName="AsBuilt" FieldName="_asBuilt" FriendlyName="As Built" IncludeInOutput="true" />
		<Column Id="Instdate" CSType="System.DateTime?" PropertyName="Instdate" FieldName="_instdate" FriendlyName="Instdate" IncludeInOutput="true" />
		<Column Id="FromX" CSType="System.Double?" PropertyName="Fromx" FieldName="_fromx" FriendlyName="Fromx" IncludeInOutput="true" />
		<Column Id="FromY" CSType="System.Double?" PropertyName="Fromy" FieldName="_fromy" FriendlyName="Fromy" IncludeInOutput="true" />
		<Column Id="ToX" CSType="System.Double?" PropertyName="Tox" FieldName="_tox" FriendlyName="Tox" IncludeInOutput="true" />
		<Column Id="ToY" CSType="System.Double?" PropertyName="Toy" FieldName="_toy" FriendlyName="Toy" IncludeInOutput="true" />
		<Column Id="Roughness" CSType="System.Double?" PropertyName="Roughness" FieldName="_roughness" FriendlyName="Roughness" IncludeInOutput="true" />
		<Column Id="TimeFrame" CSType="System.String" PropertyName="TimeFrame" FieldName="_timeFrame" FriendlyName="Time Frame" IncludeInOutput="true" />
		<Column Id="DataFlagSynth" CSType="System.Int32?" PropertyName="DataFlagSynth" FieldName="_dataFlagSynth" FriendlyName="Data Flag Synth" IncludeInOutput="true" />
		<Column Id="DataQual" CSType="System.String" PropertyName="DataQual" FieldName="_dataQual" FriendlyName="Data Qual" IncludeInOutput="true" />
		<Column Id="Hservstat" CSType="System.String" PropertyName="Hservstat" FieldName="_hservstat" FriendlyName="Hservstat" IncludeInOutput="true" />
		<Column Id="ValidFromDate" CSType="System.String" PropertyName="ValidFromDate" FieldName="_validFromDate" FriendlyName="Valid From Date" IncludeInOutput="true" />
		<Column Id="ValidToDate" CSType="System.String" PropertyName="ValidToDate" FieldName="_validToDate" FriendlyName="Valid To Date" IncludeInOutput="true" />
		<Column Id="CADKey" CSType="System.String" PropertyName="CadKey" FieldName="_cadKey" FriendlyName="Cad Key" IncludeInOutput="true" />
		<Column Id="AuditNodeID" CSType="System.String" PropertyName="AuditNodeId" FieldName="_auditNodeId" FriendlyName="Audit Node Id" IncludeInOutput="true" />
		<Column Id="AuditDups" CSType="System.String" PropertyName="AuditDups" FieldName="_auditDups" FriendlyName="Audit Dups" IncludeInOutput="true" />
		<Column Id="AuditSpatial" CSType="System.String" PropertyName="AuditSpatial" FieldName="_auditSpatial" FriendlyName="Audit Spatial" IncludeInOutput="true" />
		<Column Id="AuditOK2Go" CSType="System.Boolean" PropertyName="AuditOk2Go" FieldName="_auditOk2Go" FriendlyName="Audit Ok2 Go" IncludeInOutput="true" />
		<Column Id="AuditProcTimestamp" CSType="System.String" PropertyName="AuditProcTimestamp" FieldName="_auditProcTimestamp" FriendlyName="Audit Proc Timestamp" IncludeInOutput="true" />
		<Column Id="Qdes" CSType="System.Double?" PropertyName="Qdes" FieldName="_qdes" FriendlyName="Qdes" IncludeInOutput="true" />
		<Column Id="DME_GlobalID" CSType="System.Int32?" PropertyName="DmeGlobalId" FieldName="_dmeGlobalId" FriendlyName="Dme Global Id" IncludeInOutput="true" />
	</Table>
	<Table Id="mst_nodes_ac" EntityName="MstNodesAc" Owner="dbo" PropertyName="MstNodesAc" FieldName="_mstNodesAc" FriendlyName="Mst Nodes Ac" IncludeInOutput="true">
		<Column Id="MAPINFO_ID" CSType="System.Int32" PropertyName="MapinfoId" FieldName="_mapinfoId" FriendlyName="Mapinfo Id" IncludeInOutput="true" />
		<Column Id="Node" CSType="System.String" PropertyName="Node" FieldName="_node" FriendlyName="Node" IncludeInOutput="true" />
		<Column Id="XCoord" CSType="System.Double?" PropertyName="Xcoord" FieldName="_xcoord" FriendlyName="Xcoord" IncludeInOutput="true" />
		<Column Id="YCoord" CSType="System.Double?" PropertyName="Ycoord" FieldName="_ycoord" FriendlyName="Ycoord" IncludeInOutput="true" />
		<Column Id="NodeType" CSType="System.String" PropertyName="NodeType" FieldName="_nodeType" FriendlyName="Node Type" IncludeInOutput="true" />
		<Column Id="GrndElev" CSType="System.Double?" PropertyName="GrndElev" FieldName="_grndElev" FriendlyName="Grnd Elev" IncludeInOutput="true" />
		<Column Id="HasSpecNode" CSType="System.String" PropertyName="HasSpecNode" FieldName="_hasSpecNode" FriendlyName="Has Spec Node" IncludeInOutput="true" />
		<Column Id="HasSpecLink" CSType="System.String" PropertyName="HasSpecLink" FieldName="_hasSpecLink" FriendlyName="Has Spec Link" IncludeInOutput="true" />
		<Column Id="GageID" CSType="System.String" PropertyName="GageId" FieldName="_gageId" FriendlyName="Gage Id" IncludeInOutput="true" />
		<Column Id="DME_GlobalID" CSType="System.Int32?" PropertyName="DmeGlobalId" FieldName="_dmeGlobalId" FriendlyName="Dme Global Id" IncludeInOutput="true" />
		<ChildCollection Id="MstLinksAcCollectionGetByDsNode" PropertyName="MstLinksAcCollectionGetByDsNode" FieldName="_mstLinksAcUsNodeGetByDsNode" FriendlyName="MstLinksAcCollectionGetByDsNode" CSType="TList&lt;MstLinksAc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_mst_links_ac_DSmst_nodes_ac" IncludeInOutput="true"/>
		<ChildCollection Id="MstLinksAcCollectionGetByUsNode" PropertyName="MstLinksAcCollectionGetByUsNode" FieldName="_mstLinksAcUsNodeGetByUsNode" FriendlyName="MstLinksAcCollectionGetByUsNode" CSType="TList&lt;MstLinksAc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_mst_links_ac_USmst_nodes_ac" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
